<!DOCTYPE html>
<html>
	<head>
		<title>A simple Blog app</title>
		<link rel="stylesheet" type ="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" 
	</head>
<body>
	<div class="ui secondary pointing menu">
  <a class="active item"> <i class="paperclip icon" href='/blogs'></i>
    BLOG
  </a>
  <a class="item" href='/blogs'>
    Home
  </a>
  <a class="item" href="/blogs/new">
	New Post
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<div class="ui segment">
  <p></p>
</div>
</body>
